<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>application-identifier</key>
    <string>com.oc.xxtwakehelper</string>
    <key>com.apple.private.security.no-container</key>
    <true/>
    <key>com.apple.backboardd.launchapplications</key>
    <true/>
    <key>com.apple.frontboard.launchapplications</key>
    <true/>
    <key>com.apple.springboard.launchapplications</key>
    <true/>
    <key>com.apple.springboard.launchapplicationswithoptions</key>
    <true/>
    <key>com.apple.private.security.storage.preferences</key>
    <true/>
    <key>com.apple.private.security.storage.launchd</key>
    <true/>
    <key>com.apple.private.security.storage.MobileContainerManager</key>
    <true/>
    <key>platform-application</key>
    <true/>
    <key>get-task-allow</key>
    <true/>
</dict>
</plist>
